%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.

{deps, [
         {jsx,     "3.0.0"}
       , {ibrowse, "4.4.1"}
       , {sync,    {git, "git://github.com/rustyio/sync",  {ref, "6e9d730"}}}
       ]}.

{relx, [{release, { saltapi, "1.0.1" },
         [saltapi, sasl, ibrowse]},
        {dev_mode, true},
        {sys_config, "./config/sys.config"},
        {include_erts, false},
        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
